.taginputContainer {
	font-size: 0.78em;
	border: 1px solid #cccccc;
	display: inline-block;
	padding: 2px;
	width: 100%;
	-webkit-user-select: none;
  	-moz-user-select: none;
    	-ms-user-select: none;
      	-o-user-select: none;
        user-select: none;
}

.taginputContainer input, 
.taginputContainer input:focus {
	margin-top: 2px;
	padding: 0px;
	border: 1px solid white;
	outline: none;
}

.taginputContainer ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	display: inline;
}

.taginputContainer ul li {
	display: inline-block;
	margin-top: 0px;
	margin-bottom: 2px;
	margin-right: 2px;
	border-radius: 5px;
	padding: 2px;
	border: 1px solid #bbddbb;
	background-color: #dcffdc;
}

.taginputContainer ul li a:link, 
.taginputContainer ul li a:visited, 
.taginputContainer ul li a:active {
	color: #545454;
	opacity: 0.5;
	margin-left: 3px;
	text-decoration: none;
}

